#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.main-column {
    position: absolute;
    width: 414px;
    text-align: center;
    z-index: 1;
}
#footer {
    bottom: 5px;
    font-size: x-small;
}
#routes-tabs {
    border: none;
    background: none;
}
.main-tab-panel, .subtab-panel {
    overflow: auto;
}
p {
    text-align: justify;
    padding: 0 0.6em;
    font-size: small;
}
table {
    text-align: left;
    padding: 0 0.6em;
}
table.preferences {
	width: 100%;
}
table.preferences td {
	width: 50%;
	padding: 0 5px;
}
.right-align {
	text-align: right;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
hr { /*should be rewritten for html5*/
    background: #00008b;
    color: #00008b;
    width: 90%;
    height: 1px;
}
.leaflet-control-position {
    background-color: rgba(255, 255, 255, 0.698);
    box-shadow: 0 0 5px #BBBBBB;
    margin: 0;
    color: #333333;
    font: 11px/1.5 Verdana,Arial,sans-serif;
    padding: 0 5px;
}
.export-text { /* export input text fields */
    margin: 2px;
}
.results-list { /* results of places search */
    text-align: left;
    font-size: small;
}
.hidden { /* used only for leaflet popup styling */
    visibility: hidden;
}
#weights_template {
	width: 96%;
	margin: 1px 7px;
}
.line-buttons {
    display: none;
}
.inline-block, .line-buttons form, #routes-results form {
	display: inline-block;
}
#routes-params {
	margin-bottom: 0.2em;
}
.loading {
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}
.ajax-loading {
    overflow: hidden;   
}
.ajax-loading {
    display: block;
}
.error-message {
	text-align: center;
	font-weight: bold;
}
