# software directory #
#############################
sw

# local copies #
################
*.local

# data files #
##############
data/osm2po
data/shadingdata
data/shp
*.pbf
*.osm

# extra files #
###############
interesting

# backups #
###########
backup*

# extra mapnik files #
######################
*orlice*.xml
*renderMap.py

# extras in django project #
############################
leaflet-src.js
media/legend
settings*.py
map/static/admin

