#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.main-column {
    position: absolute;
    width: 414px;
    text-align: center;
    z-index: 1;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border-radius: 4px;
}
#footer {
    bottom: 5px;
    font-size: x-small;
    line-height: 1.3;
    padding: 6px 0;
}
#routes-tabs {
    border: none;
    background: none;
}
#languages {
    border-radius: 4px 4px 0 0;
    padding: 5px;
    background: #f0f0f0;
}
#languages .active {
    font-weight: bold;
}
#languages a {
    text-decoration: underline;
    font-weight: normal;
}
.main-tab-panel, .subtab-panel {
    overflow: auto;
}
p {
    font-size: 13px;
    line-height: 18px;
    margin: 10px 20px 4px;
    padding: 0;
    text-align: justify;
}
h3 {
    margin: 12px 0 6px;
}
h4 {
    margin: 10px 0 5px;
}
h5 {
	font-size: 11px;
	line-height: 15px;
	margin: 9px 0 5px 0;
}
table {
    text-align: left;
    padding: 0 0.6em;
}
table.preferences {
	width: 100%;
}
table.preferences td {
	width: 50%;
	padding: 0 5px;
}
#tab-legend tr > td:first-child {
	text-align: center;
}
.right-align {
	text-align: right;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
.hr {
    background: #ddd;
    width: 90%;
    height: 1px;
    margin: 8px 5%;
}
.leaflet-control-position {
    background-color: rgba(255, 255, 255, 0.698);
    box-shadow: 0 0 5px #BBBBBB;
    margin: 0;
    color: #333333;
    font: 11px/1.5 Verdana,Arial,sans-serif;
    padding: 0 5px;
}
.export-text { /* export input text fields */
    margin: 4px;
}
.results-list { /* results of places search */
    text-align: left;
    font-size: small;
}
.hidden { /* used only for leaflet popup styling */
    visibility: hidden;
}
#weights_template {
	width: 96%;
	margin: 1px 7px 8px;
}
.line-buttons {
    display: none;
}
.inline-block, .line-buttons form, #routes-results form {
	display: inline-block;
}
#routes-params {
	margin-bottom: 0.2em;
}
.loading {
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('images/ajax-loader.gif')
                50% 50%
                no-repeat;
}
.ajax-loading {
    overflow: hidden;
}
.ajax-loading {
    display: block;
}
.error-message {
	text-align: center;
	font-weight: bold;
}
#main-tabs-nav {
    background: #f0f0f0;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    height: 30px;
    padding: 0;
    text-align: center;
}
#main-tabs-nav li {
    background: none;
    height: 29px;
    margin: 0;
    width: 20%;
}
#main-tabs-nav li.ui-state-active {
    background: #fefefe;
}
#main-tabs-nav li a,
#routes-tabs li a {
    box-sizing: border-box;
    width: 100%;
}
.ui-tabs-anchor,
#main-tabs-nav a:focus {
    outline: none;
    background: none;
}
#main-tabs .ui-button.highlight {
    border-color: rgba(0,0,0,0.25);
    background-color: #06D;
    background-image: none;
    color: #FFF;
    font-weight: bold;
}
#main-tabs .ui-button.highlight:hover {
    background-color: #00008B;
}
#main-tabs {
  background: #f0f0f0;
}
#main-tabs > section {
  background: #fefefe;
  border-radius: 0 0 4px 4px;
}
#main-tabs .main-tab-panel {
  padding: 10px 0;
}
#main-tabs .subtab-panel {
  padding-top: 8px;
}
#routes-tabs ul {
  background: #f0f0f0;
  border-top: 1px solid #ddd;
  padding: 0;
  margin-top: -10px;
}
#routes-tabs li {
  background: none;
  margin: 0;
  width: 33.33%;
}
#routes-tabs li.ui-state-active {
  background: #fefefe;
}
.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload.ui-button {
    padding: 0.4em 1em;
}
.file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    /*font-size: 20px;*/
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
}
#close-main-tab-panel {
    position: absolute;
    top: 70px;
    right: 14px;
    z-index: 10;
    height: 20px;
    width: 22px;
}
#close-main-tab-panel.second-tabs {
    top: 100px;
}

#tab-export input[type="checkbox"] {
    margin-right: 12px;
}
input[type="search"] {
    padding: 3px;
    margin: .3em .1em;
}
input[type="search"]:focus {
    outline: none;
}
