<div id="content-export">
    <h5>Vítejte na stránkách mtbmap.cz</h5>
    <p>
        Poskytujeme volně dostupnou mapu pro jízdu na horském kole
        a pro pěší turistiku, která vznikla na základě dat projektu <a href="http://openstreetmap.org/" >OpenStreetMap</a>.
        Tato data vytrvale obohacují nadšení uživatelé o nové cesty, body zájmu a jiné objekty.
        Na našem serveru aktualizujeme tyto příspěvky jednou týdně a s určitou časouvou prodlevou
        se vykreslí i do mapy. Export map v příslušné záložce probíhá vždy z našich aktuálních
        dat. Můžete tak získat aktuální mapu v tiskové kvalitě.
    </p>
    <p>
        Legenda je zobrazena vždy pro aktuální přiblížení mapy a pouze pro vrstvu MTB.
        V&nbsp;záložce profily můžete vytvářet vlastní výškové profily svých tras.
    </p>
    <p>
        V případě dotazů, připomínek nebo nových nápadů neváhejte a napište nám
        na adresu autora uvedenou v&nbsp;tiráži.
    </p>
    <p>
        Další detaily, či návody jak přispívat do projektu OpenStreetMap jsou
        na <a href="http://wiki.openstreetmap.org/wiki/MTB_map_Czech_Republic" target="_blank" >Wiki stránkách projektu</a>.
    </p>
</div>
