{% extends "map/base.html" %}

{% block map %}
<div id="map"></div>
<script type="text/javascript" src="/media/js/mtbmap_ajax.js"></script>
<script type="text/javascript" src="/media/js/mtbmap_routeline.js"></script>
<script type="text/javascript" src="/media/js/mtbmap_places.js"></script>
<script type="text/javascript" src="/media/js/mtbmap_export.js"></script>
<script type="text/javascript" src="/media/js/mtbmap_leaflet.js"></script>
<script type="text/javascript" src="/media/js/mtbmap_gui.js"></script>
<script type="text/javascript" src="/media/js/lang/mtbmap_leaflet_{{ lang }}.js"></script>
{% endblock %}

{% block main %}
<div id="main-tabs" class="main-column">
    <header>
        <nav>
            <ul id="main-tabs-nav">
                <li><a href="#tab-home">O projektu</a></li>
                <li><a href="#tab-legend">Legenda</a></li>
                <li><a href="#tab-routes">Trasy</a></li>
                <li><a href="#tab-places">Místa</a></li>
                <li><a href="#tab-export">Export</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article id="tab-home" class="main-tab-panel">
            {% include "map/home.html" %}
        </article>
        <article id="tab-legend" class="main-tab-panel"></article>
        <article id="tab-routes" class="main-tab-panel">
<!--            {% include "map/routes.html" %}-->
            {% include "map/routes_production.html" %}
        </article>
        <article id="tab-places" class="main-tab-panel">
            {% include "map/places.html" %}
        </article>
        <article id="tab-export" class="main-tab-panel">
            {% include "map/export.html" %}
        </article>
    </section>
</div>
{% endblock %}

{% block footer %}
<footer id="footer"  class="main-column ui-widget ui-widget-content ui-corner-all">
    Autor: Martin Tesař, osmmtb&nbsp;(at)&nbsp;gmail.com<br>
    Zobrazení: Konformní válcové - Mercatorovo<br>
    Data poskytuje <a href="http://openstreetmap.org/" target="_blank" >OpenStreetMap</a> a&nbsp;<a href="http://dds.cr.usgs.gov/srtm/" >USGS</a> | Verze: 2013-03-01 od <a href="http://download.geofabrik.de/osm/" target="_blank" >Geofabrik.de</a><br>
    Hardware poskytuje laboratoř <a href="http://sitola.fi.muni.cz" target="_blank" > SITOLA </a>
</footer>
{% endblock %}
