<div id="content-places">
    <h5>Vyhledávání míst, bodů, adres</h5>
    <div id="places_search">
        <input type="text" name="places_addr" value="" id="places_addr" size="15" autofocus="autofocus" />
        <input id="places_submit" class="button" type="submit" onclick="addrSearch();" value="Hledat"/>
        <div id="places_results"/>
    </div>
    <hr>
    <div class="attribution">
        Vyhledávání využívá služby OpenStreetMap <a href="http://wiki.openstreetmap.org/wiki/Nominatim">Nominatim</a>
    </div>
</div>
