<div id="routes-tabs">
    <header>
        <nav>
            <ul>
                <li><a href="#routes-content-manual">Vlastní</a></li>
                <li><a href="#routes-content-gpx">Nahrát GPX</a></li>
                <li><a href="#routes-content-routing">Vyhledávání</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article id="routes-content-manual" class="subtab-panel">
            <h4>Trasu zadejte klikáním přímo do mapy</h4>
            <div class="line-buttons">
                <div class="length"></div>
                <br>
                <button class="fit-to-line">Zobrazit podle trasy</button>
                <button class="reset-line">Smazat</button>
                <form method="post" action="/map/altitudeprofile/" target="_blank" >
                    {% csrf_token %}
                    <input type="hidden" name="profile-params" class="profile-params" value="" />
                    <input class="create-profile-button" type="submit" value="Vytvořit profil">
                </form>
                <form method="post" action="/map/creategpx/" target="_blank" >
                    {% csrf_token %}
                    <input type="hidden" name="profile-params" class="profile-params" value="" />
                    <input class="create-gpx-button" type="submit" value="Vytvořit GPX">
                </form>
            </div>
        </article>
        <article id="routes-content-gpx" class="subtab-panel">
            <h4>Nahrajte vlastní GPX soubor</h4>
            <input id="files" type="file" name="files[]" onchange="handleGPX(event)" size="10" class="margin">
            <br>
            <div class="line-buttons">
                <div class="length"></div>
                <br>
                <button class="fit-to-line">Zobrazit podle trasy</button>
                <button class="reset-line">Smazat</button>
                <form method="post" action="/map/altitudeprofile/" target="_blank" >
                    {% csrf_token %}
                    <input type="hidden" name="profile-params" class="profile-params" value="" />
                    <input class="create-profile-button" type="submit" value="Vytvořit profil">
                </form>
            </div>
        </article>
        <article id="routes-content-routing" class="subtab-panel">
            <h4>Zadejte do mapy body, kterými vést trasu</h4>
            <form id="routes-params">
                <h5>Parametry vyhledávání tras:</h5>
                <label for="weights_template">Template</label>
                <div id="weights_template">
                    {% for wc in weight_collections %}
                        <input id="weights_template_{{ wc.id }}" value="weights_template_{{ wc.id }}" name="weights__template" type="radio" {% if forloop.first %}checked="checked"{% endif %}/>
                        <label for="weights_template_{{ wc.id }}">{{ wc.name }}</label>
                	{% endfor %}
                </div>
                <div id="routes-accordion">
              	    {% include "map/routingparams.html" with weight_collection=weight_collections|first %}
                </div>
            </form>
            <form action="/map/gettemplate/" method="post" target="_blank">
                {% csrf_token %}
                <input type="hidden" name="params" class="params" value="" />
                <input class="get-template-button" type="submit" value="Uložit parametry"/>
            </form>
            <input id="files" type="file" name="files[]" onchange="handleTemplate(event)" size="10" class="margin">
            <div class="line-buttons">
	            <form onsubmit="getRoute(event)" method="POST">
	                {% csrf_token %}
	                <input class="get-route-button" type="submit" value="Hledat trasu">
	            </form>
                <div class="length"></div>
                <br>
                <button class="fit-to-line">Zobrazit podle trasy</button>
                <button class="reset-line">Smazat</button>
                <form method="post" action="/map/altitudeprofile/" target="_blank" >
                    {% csrf_token %}
                    <input type="hidden" name="profile-params" class="profile-params" value="" />
                    <input class="create-profile-button" type="submit" value="Vytvořit profil">
                </form>
                <form method="post" action="/map/creategpx/" target="_blank" >
                    {% csrf_token %}
                    <input type="hidden" name="profile-params" class="profile-params" value="" />
                    <input class="create-gpx-button" type="submit" value="Vytvořit GPX">
                </form>
            </div>
            <div class="loading"></div>
        </article>
    </section>
</div>
