<div id="routes-tabs">
    <header>
        <nav>
            <ul>
                <li><a href="#routes-content-manual">Vlastní</a></li>
                <li><a href="#routes-content-gpx">Nahrát GPX</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article id="routes-content-manual" class="subtab-panel">
            <h4>Trasu zadejte klikáním přímo do mapy</h4>
            <div class="line-buttons">
                <div class="length"></div>
                <br>
                <button class="fit-to-line">Zobrazit podle trasy</button>
                <button class="reset-line">Smazat</button>
                <form method="post" action="/map/altitudeprofile/" target="_blank" >
                    {% csrf_token %}
                    <input type="hidden" name="profile-params" class="profile-params" value="" />
                    <input class="create-profile-button" type="submit" value="Vytvořit profil">
                </form>
            </div>
        </article>
        <article id="routes-content-gpx" class="subtab-panel">
            <h4>Nahrajte vlastní GPX soubor</h4>
            <input id="files" type="file" name="files[]" onchange="handleGPX(event)" size="10" class="margin">
            <br>
            <div class="line-buttons">
                <div class="length"></div>
                <br>
                <button class="fit-to-line">Zobrazit podle trasy</button>
                <button class="reset-line">Smazat</button>
                <form method="post" action="/map/altitudeprofile/" target="_blank" >
                    {% csrf_token %}
                    <input type="hidden" name="profile-params" class="profile-params" value="" />
                    <input class="create-profile-button" type="submit" value="Vytvořit profil">
                </form>
            </div>
        </article>
    </section>
</div>
