<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server maintenance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3>MTB map is temporarily offline</h3>
    <p class="lead">Our server is down for maintenance. We're sorry for any inconvenience. Stay tuned, we're working hard to fix it as soon as possible.</p>
    <p>Martin Tesař, mtbmap.cz</p>

    <h3>MTB mapa je dočasně mimo provoz</h3>
    <p class="lead">Server prochází nutnou opravou. Omlouváme se za problémy, které vám to mohlo způsobit. Snažíme se to opravit co nejdříve.</p>
    <p>Martin Tesař, mtbmap.cz</p>
</div>
</body>
</html>
