{% load i18n %}
<header>
    <h4>{% trans "Map export" %}</h4>
</header>
<form target="_blank" action="/map/exportmap/" method="post">
    {% csrf_token %}
    <label>{% trans "Export bounds" %}:</label><br>
    <input class="export-text" type="text" name="export-top" id="export-top" value="" size="7" onchange="recalculateSize()" />
    <br>
    <input class="export-text" type="text" name="export-left" id="export-left" value="" size="7" onchange="recalculateSize()" />
    <input class="export-text" type="text" name="export-right" id="export-right" value="" size="7" onchange="recalculateSize()" />
    <br>
    <input class="export-text" type="text" name="export-bottom" id="export-bottom" value="" size="7" onchange="recalculateSize()" />
    <br>
    <input type="hidden" name="export-bounds" id="export-bounds" value="" />
    <button id="set-bounds-button">{% trans "Set per current view" %}</button>

    <hr>
    <label>{% trans "Zoom level" %}</label>
    <input type="hidden" name="export-zoom" id="export-zoom" value="" />
    <select id="export-zoom-select" onchange="recalculateSize()">
        {% for zoom in zoomRange %}
        <option value="{{ zoom }}">{{ zoom }}</option>
        {% endfor %}
    </select>
    <br>
    <label>{% trans "Width" %}</label>
    <input class="export-text" type="text" name="export-width" id="export-width" value="" size="5" onchange="recalculateBounds()" />
    <br>
    <label>{% trans "Height" %}</label>
    <input class="export-text" type="text" name="export-height" id="export-height" value="" size="5" onchange="recalculateBounds()" />
    <hr>
    {% trans "Map elements" %}:<br>
    <label>{% trans "Name" %}</label><input class="export-text" type="text" name="map-title" id="map-title" size="15" value="" />
    <br>
    <label>{% trans "Scale" %}</label><input id="export-scale" type="checkbox" checked="checked" value="" name="export-scale">
    <label>{% trans "Legend" %}</label><input id="export-legend" type="checkbox" checked="checked" value="" name="export-legend">
    <label>{% trans "Impressum" %}</label><input id="export-imprint" type="checkbox" checked="checked" value="" name="export-imprint" >
    <label>{% trans "Display route" %}</label><input id="export-line-check" type="checkbox" value="" name="export-line-check" >
    <input type="hidden" name="export-line" id="export-line" value="" />
    <hr>
    <input type="hidden" name="export-params" id="export-params" value="" />
    <label>{% trans "Resolution for print" %}</label><input id="export-highres" type="checkbox" checked="yes" value="" name="export-highres" onclick="recalculateSize()" >
    <br>
    <input id="export-button" class="highlight" type="submit" value="{% trans "Export" %}">
</form>
