{% load i18n %}
<header>
    <h3>{% trans "Welcome to mtbmap.cz" %}</h3>
</header>
{% blocktrans %}
<p>
    We offer free map for mountain biking (MTB) and hiking,
    which is based on data of the project <a href="http://openstreetmap.org/" target="_blank" >OpenStreetMap</a>.
    These data are consistently improved by keen contributors. They add new routes, points of interest and
    other objects. We update these contributions normally once a week and they are reflected in
    MTB map with some delay. Map export in corresponding tab is done with our latest data.
    That is how you can get up-to-date map in printable resolution.
</p>
<p>
    Legend is displayed for current map zoom and is available only for MTB layer.
    You can use routing functionality and create altitude profiles in the tab Routes.
</p>
<p>
    In case of any questions, remarks or new ideas, don't hesitate to send
    us an email. Address is in the bottom left corner.
</p>
<p>
    Other details and tutorials, which help you contribute to OpenStreetMap project
    are on our OpenStreetMap
    <a href="http://wiki.openstreetmap.org/wiki/MTB_map_Europe" target="_blank" >Wiki page</a>.
    Developers can look at our <a href="https://github.com/mattesCZ/mtbmap/" target="_blank" >
    GitHub project pages</a>.
</p>
{% endblocktrans %}
