{% extends "map/base.html" %}
{% load i18n %}

{% block map %}
<div id="map"></div>
<script type="text/javascript" src="{{ STATIC_URL }}js/mtbmap_base.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lang/mtbmap_leaflet_{{ lang }}.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mtbmap_ajax.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mtbmap_geojsonlayergroup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mtbmap_lines.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mtbmap_places.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mtbmap_export.js"></script>
<script type="text/javascript">
// default initial position and zoom, central Europe
var initLatlng = new L.LatLng(49.50, 16.00);
var initZoom = 6;
// read last position cookies
if ($.cookie('latitude') && $.cookie('longitude') && $.cookie('zoom')) {
    initLatlng = new L.LatLng($.cookie('latitude'), $.cookie('longitude'));
    initZoom = $.cookie('zoom');
}
// create map object, set initial view
MTBMAP.map = L.map('map', {
    zoomControl: false
}).setView(initLatlng, initZoom);
var map = MTBMAP.map;
// start geolocation
map.locate({
    setView: true,
    maxZoom: 16
});
// define tile layers
{% for tile_layer in tile_layers %}
MTBMAP.baseLayers["{{ tile_layer.name }}"] = new L.TileLayer( "{{ tile_layer.url }}{z}/{x}/{y}.png", {
    maxZoom: 18,
    attribution: '{{ tile_layer.attribution|safe }}'
});
{% endfor %}
MTBMAP.baseLayers["{{ default_tile_layer.name }}"].addTo(map);
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mtbmap_leaflet.js"></script>
<script type="text/javascript">
{% for geojson_layer in geojson_layers %}
{% if geojson_layer.lineGeom %}
    MTBMAP.overlayLayers["{{ geojson_layer.slug }}"] = geojsonOverlayLines("{{ geojson_layer.slug }}", "{{ geojson_layer.name }}", {{ geojson_layer.min_zoom }});
{% else %}
    MTBMAP.overlayLayers["{{ geojson_layer.slug }}"] = geojsonOverlay("{{ geojson_layer.slug }}", "{{ geojson_layer.name }}", {{ geojson_layer.min_zoom }});
{% endif %}
MTBMAP.overlayLayers["{{ geojson_layer.slug }}"].addTo(map);
{% endfor %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mtbmap_gui.js"></script>
{% endblock %}
{% block main %}
<div id="main-tabs" class="main-column" style="display: none">
    <header>
        <div id="languages">
            {% for lang_code, lang_name in LANGUAGES %}
                {% ifequal lang_code LANGUAGE_CODE %}
                    <span class="active">{{ lang_name }}</span>
                {% else %}
                    <a href="{% url 'map.views.set_language' lang_code %}">{{ lang_name }}</a>
                {% endifequal %}
            {% endfor %}
        </div>
        <nav>
            <ul id="main-tabs-nav">
                <li><a href="#tab-home">{% trans "About" %}</a></li>
                <li><a href="#tab-legend">{% trans "Legend" %}</a></li>
                <li><a href="#tab-routes">{% trans "Routes" %}</a></li>
                <li><a href="#tab-places">{% trans "Places" %}</a></li>
                <li><a href="#tab-export">{% trans "Export" %}</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article id="tab-home" class="main-tab-panel">
            {% include "map/home.html" %}
        </article>
        <article id="tab-legend" class="main-tab-panel"></article>
        <article id="tab-routes" class="main-tab-panel"> 
            {% include "map/routes.html" %}
        </article>
        <article id="tab-places" class="main-tab-panel">
            {% include "map/places.html" %}
        </article>
        <article id="tab-export" class="main-tab-panel">
            {% include "map/export.html" %}
        </article>
    </section>
</div>
{% endblock %}

{% block footer %}
<footer id="footer"  class="main-column ui-widget ui-widget-content ui-corner-all">
    {% trans "Author" %}: Martin Tesař, osmmtb&nbsp;(at)&nbsp;gmail.com<br>
    {% trans "Projection" %}: {% trans "Conformal cylindrical - Mercator" %}<br>
    {% trans "Data provided by" %} <a href="http://openstreetmap.org/" target="_blank" >OpenStreetMap</a> {% trans "and" %}&nbsp;<a href="http://dds.cr.usgs.gov/srtm/" >USGS</a> | {% trans "Version" %}: {{ default_tile_layer.last_update.isoformat }} {% trans "from" %} <a href="http://download.geofabrik.de/osm/" target="_blank" >Geofabrik.de</a><br>
    {% blocktrans with lab_link='<a href="http://sitola.fi.muni.cz" target="_blank" > SITOLA </a>' %}
    Hardware provided by {{ lab_link }} laboratory
    {% endblocktrans %} 
</footer>
{% endblock %}
