{% extends "map/base.html" %}
{% load i18n %}

{% block map %}
<div id="map"></div>
<script src="{{ STATIC_URL }}js/mtbmap_base.js"></script>
<script src="{{ STATIC_URL }}js/lang/mtbmap_leaflet_{{ LANGUAGE_CODE }}.js"></script>
<script src="{{ STATIC_URL }}js/mtbmap_ajax.js"></script>
<script src="{{ STATIC_URL }}js/mtbmap_geojsonlayergroup.js"></script>
<script src="{{ STATIC_URL }}js/mtbmap_lines.js"></script>
<script src="{{ STATIC_URL }}js/mtbmap_places.js"></script>
<script src="{{ STATIC_URL }}js/mtbmap_export.js"></script>
<script>
// read last position cookies
if ($.cookie('latitude') && $.cookie('longitude') && $.cookie('zoom')) {
    MTB.initLatlng = L.latLng($.cookie('latitude'), $.cookie('longitude'));
    MTB.initZoom = $.cookie('zoom');
}

// create map object, set initial view
MTB.map = L.map('map', {
    zoomControl: false
}).setView(MTB.initLatlng, MTB.initZoom);

// start geolocation
MTB.map.locate();

// define tile layers
{% for tile_layer in tile_layers %}
MTB.baseLayers["{{ tile_layer.name }}"] = L.tileLayer( "{{ tile_layer.url }}{z}/{x}/{y}.png", {
    maxZoom: 18,
    attribution: '{{ tile_layer.attribution|safe }}'
});
{% endfor %}
MTB.baseLayers["{{ default_tile_layer.name }}"].addTo(MTB.map);
</script>

<script src="{{ STATIC_URL }}js/mtbmap_leaflet.js"></script>


<script>
{% for geojson_layer in geojson_layers %}
{% if geojson_layer.lineGeom %}
    MTB.overlayLayers["{{ geojson_layer.slug }}"] = MTB.UTILS.LAYERS.geojsonOverlayLines("{{ geojson_layer.slug }}", "{{ geojson_layer.name }}", {{ geojson_layer.min_zoom }});
{% else %}
    MTB.overlayLayers["{{ geojson_layer.slug }}"] = MTB.UTILS.LAYERS.geojsonOverlay("{{ geojson_layer.slug }}", "{{ geojson_layer.name }}", {{ geojson_layer.min_zoom }});
{% endif %}
MTB.overlayLayers["{{ geojson_layer.slug }}"].addTo(MTB.map);
{% endfor %}
</script>

<script src="{{ STATIC_URL }}js/mtbmap_gui.js"></script>
{% endblock %}

{% block main %}
<div id="main-tabs" class="main-column" style="display: none">
    <header>
        <div id="languages">
            {% for lang_code, lang_name in LANGUAGES %}
                {% ifequal lang_code LANGUAGE_CODE %}
                    <span class="active">{{ lang_name }}</span>
                {% else %}
                    <a href="{% url 'map.views.set_language' lang_code %}">{{ lang_name }}</a>
                {% endifequal %}
            {% endfor %}
        </div>
        <nav>
            <ul id="main-tabs-nav">
                <li><a href="#tab-home">{% trans "About" %}</a></li>
                <li><a href="#tab-legend">{% trans "Legend" %}</a></li>
                <li><a href="#tab-routes">{% trans "Routes" %}</a></li>
                <li><a href="#tab-places">{% trans "Places" %}</a></li>
                <li><a href="#tab-export">{% trans "Export" %}</a></li>
            </ul>
            <button id="close-main-tab-panel" style="display: none" >{% trans "Close" %}</button>
        </nav>
    </header>
    <section>
        <article id="tab-home" class="main-tab-panel">
            {% include "map/home.html" %}
        </article>
        <article id="tab-legend" class="main-tab-panel"></article>
        <article id="tab-routes" class="main-tab-panel"> 
            {% include "map/routes.html" %}
        </article>
        <article id="tab-places" class="main-tab-panel">
            {% include "map/places.html" %}
        </article>
        <article id="tab-export" class="main-tab-panel">
            {% include "map/export.html" %}
        </article>
    </section>
</div>
{% endblock %}

{% block footer %}
<footer id="footer" class="main-column ui-widget ui-widget-content ui-corner-all">
    {% trans "Author" %}: Martin Tesař, osmmtb&nbsp;(at)&nbsp;gmail.com<br>

    {% trans "Projection" %}: {% trans "Conformal cylindrical - Mercator" %}<br>

    {% trans "Data provided by" %} <a href="http://openstreetmap.org/" target="_blank" >OpenStreetMap</a>
    {% trans "and" %}&nbsp;<a href="http://dds.cr.usgs.gov/srtm/" >USGS</a> |
    {% trans "Version" %}: {{ default_tile_layer.last_update.isoformat }} {% trans "from" %}
    <a href="http://download.geofabrik.de/osm/" target="_blank" >Geofabrik.de</a><br>

    {% blocktrans with lab_link='<a href="http://sitola.fi.muni.cz" target="_blank" >SITOLA</a>' %}
    Hardware provided by {{ lab_link }} laboratory,
    {% endblocktrans %}
    <a href="http://fi.muni.cz" target="_blank" >{% trans "Faculty of Informatics" %}</a>,
    <a href="http://muni.cz" target="_blank" >{% trans "Masaryk University" %}</a>
</footer>
{% endblock %}
