{% load i18n %}
<h3>{% trans "Global settings" %}</h3>
<div>
    <table class="preferences">
        <tr>
            <td class="type right-align">
                <label for="weights-global-vehicle">{% trans "Vehicle:" %}</label>
            </td>
            <td class="preference">
                <select class="weights-preferences" id="weights-global-vehicle" name="global__vehicle">
                    {% for vehicle in weight_collection.VEHICLE_CHOICES %}
                    <option value="{{vehicle.0}}" {% if vehicle.0 == weight_collection.vehicle %}selected="selected"{% endif %} >{{vehicle.1}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="type right-align">
                <label for="weights-global-oneway">{% trans "Consider oneways:" %}</label>
            </td>
            <td class="preference">
                <input id="weights-global-oneway" type="checkbox" name="global__oneway" {% if weight_collection.oneway %}checked="checked"{% endif %}>
            </td>
        </tr>
    </table>
</div>
<h3>{% trans "Preferred ways" %}</h3>
<div>
    <table class="preferences">
        {% for preferred_value in weight_collection.preferredvalue_set.all %}
            {% with preferred_value.preferred as p %}
            <tr {% if not preferred_value.use %} style="display: none"{% endif %}>
                <td class="type right-align">
                    <label for="preferred__{{ p.slug }}">{{ p.name }}</label>
                </td>
                <td class="preference">
                    <input type="checkbox" name="preferred__{{ p.slug }}" id="preferred__{{ p.slug }}" {% if preferred_value.value %}checked="checked"{% endif %}>
                </td>
            </tr>
            {% endwith %}
        {% endfor %}
    </table>
</div>
{% for wcv in weight_collection.weightclassvalue_set.all %}
{% with wcv.weight_class as wc %}
<h3 id="h-{{ wc.slug }}" {% if not wcv.visible %} style="display: none"{% endif %}>
    {{ wc.name }}
</h3>
<div>
    <p>
    {% blocktrans with link=wc.link %}
    Set your preference of ways with this parameters. Detailed information about parameters is on <a href="{{ link }}" target="_blank">OpenStreetMap Wiki</a>.
    {% endblocktrans %}
    </p>
    {% if wcv.max != None or wcv.min != None %}
    <table id="weights-limits-{{wc.slug}}" class="weights-limits preferences" >
        <tr>
            {% if wcv.max != None %}
            <td class="right-align">
                <label for="weights-{{ wc.slug }}-max">Max:</label>
            </td>
            <td>
                <input type="text" value="{{ wcv.max|floatformat:'0' }}" size="2" id="weights-{{ wc.slug }}-max" name="{{ wc.slug }}__max">
            </td>
            {% endif %}
            {% if wcv.min != None %}
            <td class="right-align">
                <label for="weights-{{ wc.slug }}-min">Min:</label>
            </td>
            <td>
                <input type="text" value="{{ wcv.min|floatformat:'0' }}" size="2" id="weights-{{ wc.slug }}-min" name="{{ wc.slug }}__min">
            </td>
            {% endif %}
        </tr>
    </table>
    {% endif %}
    {% if wcv.weightvalue_set.count %}
    <table id="weights-types-{{wc.slug}}" class="weights-types preferences">
        {% for wv in wcv.weightvalue_set.all %}
        {% with wv.weight as w %}
        <tr {% if not wv.visible %} style="display: none"{% endif %}>
            <td class="type right-align"><label for="weights-{{wc.slug}}-{{w.slug}}-preference">{{w.name}}</label></td>
            <td class="preference">
                <select class="weights-preferences" id="weights-{{wc.slug}}-{{w.slug}}-preference" name="{{wc.slug}}__{{w.slug}}" >
                    {% for choice in wv.PREFERENCE_CHOICES %}
                    {% if choice.0 == wv.preference %}
                    <option value="{{choice.0}}" selected="selected" >{{choice.1}}</option>
                    {% else %}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endwith %}
{% endfor %}
