<h3>Global settings</h3>
<div>
	<table class="preferences">
		<tr>
		    <td class="type right-align"><label for="weights-global-vehicle">Vehicle:</label></td>
		    <td class="preference">
			    <select class="weights-preferences" id="weights-global-vehicle" name="global__vehicle">
			        {% for vehicle in weight_collection.VEHICLE_CHOICES %}
			        <option value="{{vehicle.0}}" {% if vehicle.0 == weight_collection.vehicle %}selected="selected"{% endif %} >{{vehicle.1}}</option>
			        {% endfor %}
			    </select>
		    </td>
		</tr>
		<tr>
			<td class="type right-align"><label for="weights-global-oneway">Consider oneways:</label></td>
			<td class="preference"><input type="checkbox" name="global__oneway" {% if weight_collection.oneway %}checked="checked"{% endif %} /></td>
		</tr>
	</table>
</div>
<h3>Preferred ways</h3>
<div>
	<table class="preferences">
		{% for preferred in weight_collection.preferred_set.all %}
            <tr {% if not preferred.use %} style="display: none"{% endif %}>
                <td class="type right-align">{{ preferred.name }}</td>
                <td class="preference"><input type="checkbox" name="preferred__{{preferred.name}}" {% if preferred.value %}checked="checked"{% endif %} /></td>
            </tr>
		{% endfor %}
	</table>
</div>
{% for c in weight_collection.weightclass_set.all %}
<h3 id="h-{{ c.classname }}" {% if not c.visible %} style="display: none"{% endif %}>{{ c.classname }}</h3>
<div>
    {% if c.max != None or c.min != None %}
    <table id="weights-limits-{{c.classname}}" class="weights-limits preferences" >
        <tr>
            {% if c.max != None %}
            <td class="right-align">Max:</td>
            <td><input type="text" value="{{c.max|floatformat:'0'}}" size="2" id="weights-{{c.classname}}-max" name="{{c.classname}}__max" /></td>
            {% endif %}
            {% if c.min != None %}
            <td class="right-align">Min:</td>
            <td><input type="text" value="{{c.min|floatformat:'0'}}" size="2" id="weights-{{c.classname}}-min" name="{{c.classname}}__min" /></td>
            {% endif %}
        </tr>
    </table>
    {% endif %}
    {% if c.weight_set.all %}
    <table id="weights-types-{{c.classname}}" class="weights-types preferences">
        {% for w in c.weight_set.all %}
        <tr {% if not w.visible %} style="display: none"{% endif %}>
            <td class="type right-align">{{w.name}}</td>
            <td class="preference">
                <select class="weights-preferences" id="weights-{{c.classname}}-{{w.name}}-preference" name="{{c.classname}}__{{w.name}}" >
                    {% for choice in w.PREFERENCE_CHOICES %}
                    {% if choice.0 == w.preference %}
                    <option value="{{choice.0}}" selected="selected" >{{choice.1}}</option>
                    {% else %}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endfor %}
